//light
$bgc-color-light: #dbdede;
$heading-light: #313130;
$heading-app-light: white;
$button-light: white;

//dark
$bgc-color-dark: #282828;
$heading-dark: #dbdede;
$heading-app-dark: black;
$button-dark: black;